{% extends 'base.html' %}
{% block title %}Увійти{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body p-5">
                <h3 class="text-center mb-4">Увійти</h3>

                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="mb-3">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>

                    <button type="submit" class="btn btn-primary w-100 py-2">Увійти</button>
                </form>

                <div class="text-center mt-3">
                    Немає акаунту? <a href="{% url 'rest_app:client_create' %}">Зареєструватися</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
