{% extends 'base.html' %}
{% block title %}Кошик{% endblock %}

{% block content %}
<h2>Ваш кошик</h2>

{% if cart_items %}
<table class="table">
    <thead>
        <tr>
            <th>Страва</th>
            <th>Кількість</th>
            <th>Сума</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <td>{{ item.dish.name }}</td>
            <td>{{ item.quantity }}</td>
            <td><strong>{{ item.total }} грн</strong></td>
                <td>
                    <a href="{% url 'rest_app:cart_remove' item.dish.id %}" class="btn btn-sm btn-danger">Видалити</a>
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="text-end">
    <h4>Разом: <strong>{{ total_price }} грн</strong></h4>
    <a href="{% url 'rest_app:order_create' %}" class="btn btn-success btn-lg">Оформити замовлення</a>
</div>
{% else %}
    <p>Кошик порожній. <a href="{% url 'rest_app:list' %}">Перейти в меню</a></p>
{% endif %}
{% endblock %}